[submodule "ticket"]
	path = ticket
	url = "https://github.com/mankinskin/ticket"
	branch = "main"
[submodule "spec"]
	path = spec
	url = "https://github.com/mankinskin/spec"
	branch = "main"
[submodule "audit"]
	path = audit
	url = "https://github.com/mankinskin/audit"
	branch = "main"
[submodule "feedback"]
	path = feedback
	url = "https://github.com/mankinskin/feedback"
	branch = "main"
[submodule "session"]
	path = session
	url = "https://github.com/mankinskin/session"
	branch = "main"
[submodule "doc"]
	path = doc
	url = "https://github.com/mankinskin/doc"
	branch = "main"
[submodule "log"]
	path = log
	url = "https://github.com/mankinskin/log"
	branch = "main"
[submodule "peek"]
	path = peek
	url = "https://github.com/mankinskin/peek"
	branch = "main"
[submodule "interview"]
	path = interview
	url = "https://github.com/mankinskin/interview"
	branch = "main"
[submodule "rule"]
	path = rule
	url = "https://github.com/mankinskin/rule"
	branch = "main"
[submodule "test"]
	path = test
	url = "https://github.com/mankinskin/test"
	branch = "main"
[submodule "memory-kernel"]
	path = memory-kernel
	url = "https://github.com/mankinskin/memory-kernel"
	branch = main
[submodule "viewer-api"]
	path = viewer-api
	url = https://github.com/mankinskin/viewer-api
	branch = main
